.table-container-sticky-header {
    max-height: 200px;
    overflow-y: auto;
    position: relative;
}

    .table-container-sticky-header table {
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-container-sticky-header thead.sticky-top {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: #f8f9fa;
    }
