@*
    About.razor
    A simple component that displays the application's assembly version
    and an optional additional text string.
*@
@using System.Reflection
@using Microsoft.Extensions.Localization
@using Z21Dashboard.Shared.Dashboard.Components
@inject IStringLocalizer<AboutResources> Localizer

<div class="card shadow-sm border border-secondary col-md-4 ms-lg-2">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">@Localizer["Title"]</h5>
    </div>
    <div class="card-body">
        <div class="row g-2">
            <span>@Localizer["Version"]: @_appVersion</span>
            <p></p>
            <p>@Localizer["Description"]</p>
        </div>
    </div>
</div>

@code {
    private string _appVersion = "-";

    protected override void OnInitialized()
    {
        // Get the currently executing assembly (our application).
        var assembly = Assembly.GetExecutingAssembly();

        // This corresponds to the <AssemblyVersion> tag (e.g., 1.0.0.0).
        _appVersion = assembly.GetName().Version?.ToString() ?? "-";
    }
}
