@*
    About.razor
    A simple component that displays the application's assembly version
    and an optional additional text string.
*@
@using System.Reflection
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.Localization
@using Z21Dashboard.Shared.Dashboard.Components
@inject IStringLocalizer<AboutResources> Localizer

<DashboardWidget HeaderTitle="@Localizer["Title"]"
                 OnHeaderMouseDown="OnHeaderMouseDown"
                 OnBringToFront="OnBringToFront">
    <Content>
        <div class="row g-2">
            <span>@Localizer["Version"]: @_appVersion</span>
            <p></p>
            <p>@Localizer["Description"]</p>
        </div>
    </Content>
</DashboardWidget>

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnHeaderMouseDown { get; set; }

    [Parameter]
    public EventCallback OnBringToFront { get; set; }

    private string _appVersion = "-";

    protected override void OnInitialized()
    {
        // Get the currently executing assembly (our application).
        var assembly = Assembly.GetExecutingAssembly();

        // This corresponds to the <AssemblyVersion> tag (e.g., 1.0.0.0).
        _appVersion = assembly.GetName().Version?.ToString() ?? "-";
    }
}
